Repository ai-cfia/fertiscan-backend, pull requests merged in 2024-08, with the labels that each got.

#114 feat pr labelling workflow
  .github/workflows/fertiscan-backend-workflows.yaml
  .github/workflows/fertiscan-create-release.yaml
  README.md
Labels: documentation

#116 v1.0.0
  docs/README.md
Labels: documentation, feature

#123 Issue #121: Replace form by inspection
  app.py
  docs/README.md
  docs/plantuml/analyze_dss.puml
  docs/plantuml/create_inspection_dss.puml
  docs/plantuml/discard_inspection_dss.puml
  docs/plantuml/domain_model.puml
  docs/plantuml/get_inspection_dss.puml
  docs/plantuml/submit_inspection_dss.puml
  docs/plantuml/workflow_dss.puml
  docs/swagger/analyze_document.yaml
  docs/swagger/create_inspection.yaml
  docs/swagger/discard_inspection.yaml
  docs/swagger/get_inspection.yaml
  docs/swagger/update_inspection.yaml
  out/analyze_dss/Analyze DSS.png
  out/create_form_dss/FertiScan Sequence Diagram.png
  out/create_inspection_dss/FertiScan Sequence Diagram.png
  out/discard_form_dss/FertiScan Sequence Diagram.png
  out/discard_inspection_dss/FertiScan Sequence Diagram.png
  out/domain_model/Model Diagram.png
  out/get_form_dss/FertiScan Sequence Diagram.png
  out/get_inspection_dss/FertiScan Sequence Diagram.png
  out/submit_form_dss/FertiScan Sequence Diagram.png
  out/submit_inspection_dss/FertiScan Sequence Diagram.png
  out/workflow_dss/FertiScan Sequence Diagram.png
  tests/test_app.py
Labels: documentation, tests

#120 cors config on route POST /forms
  app.py
  docs/swagger/create_inspection.yaml
  docs/swagger/get_inspection.yaml
  docs/swagger/login.yaml
  docs/swagger/search_inspection.yaml
  docs/swagger/signup.yaml
  tests/test_app.py
Labels: documentation, tests

#125 Correct developer documentation
  Dockerfile
  README.md
  app.py
  docs/README.md
  docs/plantuml/create_inspection_dss.puml
  docs/plantuml/domain_model.puml
  docs/plantuml/search_form_dss.puml
  docs/plantuml/search_inspections_dss.puml
  docs/plantuml/update_inspection_dss.puml
  out/create_form_dss/FertiScan Sequence Diagram.png
  out/create_inspection_dss/FertiScan Sequence Diagram.png
  out/domain_model/Model Diagram.png
  out/get_inspection_dss/FertiScan Sequence Diagram.png
  out/search_form_dss/FertiScan Sequence Diagram.png
  out/search_inspections_dss/FertiScan Sequence Diagram.png
  out/submit_form_dss/FertiScan Sequence Diagram.png
  out/submit_inspection_dss/FertiScan Sequence Diagram.png
  out/update_inspection_dss/FertiScan Sequence Diagram.png
Labels: bug, documentation

#129 Issue #128: update Dockerfile with missing dependencies and env variables
  Dockerfile
  README.md
  app.py
Labels: documentation

#126 Issue 89: Complete GET /inspections
  app.py
  backend/search.py
  docs/expected.json
  tests/__init__.py
  tests/test_app.py
Labels: documentation, tests

#132 issue #131: pool connection manager
  app.py
  connection_manager.py
  requirements.txt
  tests/test_app.py
  tests/test_connection_manager.py
Labels: tests

#134 Move ConnectionManager to backend folder
  .env.template
  README.md
  app.py
  backend/__init__.py
  backend/connection_manager.py
  tests/test_connection_manager.py
Labels: documentation, tests
