Repository ai-cfia/fertiscan-backend, pull requests merged in 2024-11, with the labels that each got.

#197 issue #181: get inspections fastapi
  app/controllers/inspections.py
  app/controllers/users.py
  app/dependencies.py
  app/exceptions.py
  app/main.py
  app/models/inspection.py
  tests/test_app.py
  tests/test_connection_manager.py
  tests/test_inspections.py
  tests/test_users_controller.py
Labels: tests

#199 issue #178: post inspection in fastapi
  app/config.py
  app/connection_manager.py
  app/constants.py
  app/controllers/data_extraction.py
  app/controllers/inspections.py
  app/controllers/users.py
  app/dependencies.py
  app/main.py
  app/models/label_data.py
  requirements.txt
  tests/label.png
  tests/test_app.py
  tests/test_connection_manager.py
  tests/test_data_extraction.py
  tests/test_inspections.py
  tests/test_users_controller.py
Labels: tests

#201 issue #179: put inspection in fastapi
  app/controllers/inspections.py
  app/main.py
  app/models/inspections.py
  app/models/label_data.py
  tests/test_app.py
  tests/test_inspections.py
Labels: tests

#202 issue #161: delete inspection fastapi
  app/controllers/inspections.py
  app/main.py
  app/models/inspections.py
  tests/test_app.py
  tests/test_inspections.py
Labels: tests

#205 Issue #204: fixing dependencies
  requirements.txt
Labels: bug

#210 Issue #200: add OpenTelemetry instrumentation for enhanced monitoring and logging
  .env.template
  CONTRIBUTING.md
  Dockerfile
  README.md
  app/config.py
  docker-compose.yml
  docs/README.md
  docs/otel/README.md
Labels: documentation
