Repository ai-cfia/fertiscan-backend, pull requests merged in 2024-09, with the labels that each got.

#135 Logs returned in the console
  .env.template
  app.py
  backend/connection_manager.py
  tests/test_app.py
Labels: tests

#140 issue #131: remove test debugging code
  tests/test_app.py
Labels: tests

#146 Issue #145: Adds docker-compose for local development
  README.md
  docker-compose.yml
Labels: documentation

#147 Fix : As a dev, I want to fix the swagger on the deployment #136
  .env.template
  .gitignore
  Dockerfile
  app.py
  docker-compose.yml
  requirements.txt
Labels: bug
