Repository ai-cfia/fertiscan-backend, pull requests merged in 2024-10, with the labels that each got.

#158 Latest datastore changes
  requirements.txt
Labels: bug

#157 Issue #138: Fix user signup in test setup
  tests/test_app.py
Labels: tests

#167 Issue #166 testing new schema to detect datastore new versions
  renovate.json
Labels: enhancement

#191 issue #189: base fastapi setup
  CONTRIBUTING.md
  Dockerfile
  README.md
  app.py
  app/__init__.py
  app/constants.py
  app/controllers/__init__.py
  app/controllers/items.py
  app/dependencies.py
  app/main.py
  app/models/__init__.py
  app/models/items.py
  backend/__init__.py
  backend/connection_manager.py
  backend/search.py
  requirements.txt
  tests/test_app.py
  tests/test_connection_manager.py
Labels: documentation, tests

#188 issue #177: adapt connection manager to fastapi
  app/connection_manager.py
  app/constants.py
  app/dependencies.py
  app/main.py
  tests/test_app.py
  tests/test_connection_manager.py
Labels: tests

#192 issue #183: analyse route using fastapi
  app/config.py
  app/constants.py
  app/controllers/data_extraction.py
  app/dependencies.py
  app/main.py
  app/sanitization.py
  requirements.txt
  tests/test_app.py
  tests/test_data_extraction.py
  tests/test_sanitization.py
Labels: tests

#194 issue #183: change suggestions
  app/config.py
  app/constants.py
  app/controllers/data_extraction.py
  app/controllers/items.py
  app/controllers/users.py
  app/dependencies.py
  app/exceptions.py
  app/main.py
  app/models/items.py
  app/models/monitoring.py
  app/models/users.py
  app/sanitization.py
  requirements.txt
  tests/label.png
  tests/test_app.py
  tests/test_connection_manager.py
  tests/test_data_extraction.py
  tests/test_sanitization.py
  tests/test_users_controller.py
Labels: tests

#193 Issue #175-176 : Migration for `POST /signup` and `POST /signup`
  app/config.py
  app/constants.py
  app/controllers/data_extraction.py
  app/controllers/items.py
  app/controllers/users.py
  app/dependencies.py
  app/exceptions.py
  app/main.py
  app/models/items.py
  app/models/monitoring.py
  app/models/users.py
  tests/label.png
  tests/test_app.py
  tests/test_connection_manager.py
  tests/test_data_extraction.py
  tests/test_users_controller.py
Labels: tests

#196 Issue #195: Add Phoenix API configuration
  .env.template
  README.md
  app/config.py
  app/constants.py
Labels: documentation
