Repository ai-cfia/fertiscan-backend, pull requests merged in 2025-01, with the labels that each got.

#226 Update the developer documentation
  CONTRIBUTING.md
  docs/README.md
  docs/plantuml/analyze_dss.puml
  docs/plantuml/create_inspection_dss.puml
  docs/plantuml/discard_inspection_dss.puml
  docs/plantuml/domain_model.puml
  docs/plantuml/get_inspections_dss.puml
  docs/plantuml/update_inspection_dss.puml
  docs/plantuml/workflow_dss.puml
  docs/swagger/analyze_document.yaml
  docs/swagger/create_inspection.yaml
  docs/swagger/discard_inspection.yaml
  docs/swagger/get_inspection.yaml
  docs/swagger/get_inspection_by_id.yaml
  docs/swagger/health.yaml
  docs/swagger/login.yaml
  docs/swagger/signup.yaml
  docs/swagger/template.yaml
  docs/swagger/update_inspection.yaml
  out/analyze_dss/Analyze DSS.png
  out/create_inspection_dss/FertiScan Sequence Diagram.png
  out/discard_inspection_dss/FertiScan Sequence Diagram.png
  out/domain_model/Model Diagram.png
  out/get_inspections_dss/FertiScan Sequence Diagram.png
  out/update_inspection_dss/FertiScan Sequence Diagram.png
  out/workflow_dss/FertiScan Sequence Diagram.png
Labels: documentation

#222 issue #221: .env.secrets & .env.config
  .dockerignore
  .env.config
  .env.secrets.template
  .env.template
  .gitignore
  Dockerfile
  README.md
  app/config.py
  app/dependencies.py
  app/main.py
  app/routes.py
  docker-compose.yml
  tests/__init__.py
  tests/test_app.py
Labels: documentation, tests

#227 Added French translations to README, CONTRIBUTING, Developper Documentation and Otel Documentation
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/otel/README.md
Labels: documentation

#229 Issue #228 : Refactor data extraction to directly add images from files
  app/config.py
  app/controllers/data_extraction.py
  app/models/label_data.py
  app/routes.py
  requirements.txt
  tests/test_app.py
  tests/test_data_extraction.py
Labels: tests
